{% extends "base.html" %}
{% load static i18n %}
{% block title %}Bookmarks{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <form action="/" method="post" class="bookmark-form form-horizontal">
      <h5>ADD A BOOKMARK...</h5>
      <div class="col-sm-6">
        <div class="row">
          {% csrf_token %}
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="col-sm-12">{{ form.url.errors }}</div>
              <label for="id_url" class="col-sm-2 control-label">Url:</label>
              <div class="col-sm-10">
                <input id="id_url" maxlength="255" name="url" type="text" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="col-sm-12">{{ form.title.errors }}</div>
              <label for="id_title" class="col-sm-2 control-label">Title:</label>
              <div class="col-sm-10">
                <input id="id_title" maxlength="255" name="title" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="row">
              <div class="col-sm-12">{{ form.tags.errors }}{{ form.notes.errors }}</div>
              <div class="col-sm-5" >
                <div class="row">
                  <div class="col-sm-12"><label for="id_tags" class="control-label">Tags:</label></div>
                  <div class="col-sm-10"><input id="id_name" maxlength="50" name="name" type="text" class="form-control"></div>
                </div>
                <div class="row" id="tags_checkbox">
                  <div class="col-sm-12">
                    {{ form.tags }}
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <label for="id_notes" class="control-label">Notes:</label>
                <textarea cols="50" id="id_notes" name="notes" rows="15" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group col-sm-12" id="bookmark_submit">
              <button class="btn btn-primary text-right" type="submit">OK</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="list-group">
    <table class="table table-striped table-condensed">
      <tbody>
        {% for bookmark in bookmark_list %}
          <tr>
            <td class="created">{{ bookmark.created }}</td>
            <td class="url">
              <a href="{{ bookmark.url }}">
                {% if bookmark.title %}
                  {{ bookmark.title}}
                {% else %}
                  {{ bookmark.url }}
                {% endif %}
              </a>
              <br />
              {% for tag in bookmark.tags.all %}
                <span>{{ tag }}</span>
              {% endfor %}
              <!-- @TODO Style to CSS -->
              <div>
                <a class="btn btn-outline-secondary btn-sm" style="float:right;" href="/#detail">edit</a>
                {% if bookmark.notes %}
                  <a class="btn btn-outline-info btn-sm" style="float:right;" href="/#notes">notes</a>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
