{% extends "base.html" %}
{% load static i18n %}
{% block title %}Bookmarks{% endblock %}

{% block content %}
  {# debug #}

  <div class="row">
    <div id="addBookmarkAccordion" role="tablist" aria-multiselectable="true">
      <div class="card">
        <div class="card-header" role="tab" id="bookmarkFormHeading">
          <div class="row">
            <div class="col-md-8 ml-auto">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            </div>
            <div class="col-4 text-right">
            <h5 id="bookmarkCollapseHeading">
              <a data-toggle="collapse" data-parent="#accordion" href="#bookmarkFormCollapse" aria-expanded="true" aria-controls="bookmarkFormCollapse">
               +
              </a>
            </h5>
            </div>
          </div>
        </div>
        <div id="bookmarkFormCollapse" class="collapse" role="tabpanel" aria-labelledby="bookmarkFormHeading">
          <div class="card-block">
            <div class="container bg-light">
            <form action="/" method="post" class="bookmark-form form-horizontal">
              {% csrf_token %}
              {% include "bookmarks/form.html" %}
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'bookmarks/list.html' %}

{% endblock content %}
