{% extends "base.html" %}
{% block content %}

<div class="col text-center">
  <h4>Confirm links</h4>
</div>
<div class="row justify-content-center">
  <div class="col" class="confirm-form-wrapper">
    <form action="{% url 'manager:bookmark_import_confirm' %}" method="post" class="form-horizontal">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for form in formset %}
         {% include "bookmarks/form.html" %}
      {% endfor %}

      <div class="form-group col-sm-12" id="bookmark_submit">
          <button class="btn btn-primary text-right" type="submit">OK</button>
      </div>
    </form>
  </div>
</div>

{{ debug }}
{% endblock content %}
