<div class="row list-group">


    <div class="container bookmark_list">
      <div class="pagination">
        <span class="step-links">
          {% if bookmark_list.has_previous %}
            <a href="?page={{ bookmark_list.previous_page_number }}"><<</a>
          {% endif %}
        <span class="current">
            Page {{ bookmark_list.number }} of {{ bookmark_list.paginator.num_pages }}
        </span>
        {% if bookmark_list.has_next %}
            <a href="?page={{ bookmark_list.next_page_number }}">>></a>
        {% endif %}
        </span>
      </div>
      {% for bookmark in bookmark_list %}
        <div class="row">
          <div class="created col-2">{{ bookmark.created }}</div>
          <div class="url col-7">
            <a href="{{ bookmark.url }}">
              {% if bookmark.title %}
                {{ bookmark.title }}
              {% else %}
                {{ bookmark.url }}
              {% endif %}
            </a>
            <div class="url-text">
              {% if bookmark.title %}
                {{ bookmark.url }}
              {% endif %}
            </div>
            {% for tag in bookmark.tags.all %}
              <span>{{ tag }}</span>
            {% endfor %}

          </div>
          <!-- @TODO Style to CSS -->
            <div class="col-3">
              <a href="{% url 'manager:bookmark_delete' bookmark.id %}" style="float:right;margin-left:5px;" class="btn btn-outline-secondary btn-sm">x</a>
              <a class="btn btn-outline-primary btn-sm" style="float:right;margin-left:5px;" href="{% url 'manager:bookmark_detail' bookmark.id %}">edit</a>
              {% if bookmark.notes %}
                <a class="btn btn-outline-info btn-sm" style="float:right;" href="/#notes">notes</a>
              {% endif %}
            </div>
        </div>
      {% endfor %}
        <div class="pagination">
          <span class="step-links">
            {% if bookmark_list.has_previous %}
              <a href="?page={{ bookmark_list.previous_page_number }}"><<</a>
            {% endif %}
          <span class="current">
              Page {{ bookmark_list.number }} of {{ bookmark_list.paginator.num_pages }}
          </span>
          {% if bookmark_list.has_next %}
              <a href="?page={{ bookmark_list.next_page_number }}">>></a>
          {% endif %}
          </span>
        </div>
      </div>


</div>
